@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGszZb8lLbThopE1o4CrFCCmIAjzwdKF69J0WbUAnNqIIO4cdPLLHkcnvh2D9I1hPKeZ8&usqp=CAU" class="img-fluid" alt="...">
</div>
